/**
 * Use relative root path for imports.
 * @import "./src-pkg/module/index.pcss"; -> false
 * @import "./module/index.pcss"; -> true
 */

@import "./default/index.pcss";
@import "./modal/index.pcss";
